// These colors are specific to the theme. Do not use in a package!

@very-dark-gray: #2D2B2A;
@dark-gray: #595756;
@gray: #dddddd;
@light-gray: #EDEDED;
@very-light-gray: #f1f1f1;

@red: #bd4b62;
@green: #5DD39E;
@blue: #3ba7cd;
@dark-green: #2da26d;
@purple: #856fc4;
@orange: #EE964B;
@yellow: #dbba0b;
